<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="constring" connectionString="datasource=37.252.121.71;port=3306;username=mit3user;password=admin123"/>
    </connectionStrings>
</configuration>